# python3.11.9

# --- Core Framework ---
fastapi
uvicorn[standard]
motor
python-dotenv
pydantic[email]

# --- Financial & Data ---
yfinance
pandas
requests
newsdataapi

# --- Security & Auth ---
passlib==1.7.4
bcrypt==3.2.0
python-jose[cryptography]

# --- Websockets ---
websockets

# --- Utilities ---
# dnspython is often needed for MongoDB Atlas connections
dnspython